.App {
  text-align: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  display: relative;
  right: 20px;
  margin-bottom: 10px;
}

.doodle {
  color: #19154E;
  font-family: "Manrope", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
  padding: none;
  margin-bottom: 20px; /* Decreased margin between the two code blocks */
  margin-top: 0px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.start-capture-button {
  background-color: #7421FC; /* Blue background color for the button */
  color: white; /* White text color for the button */
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.start-capture-button:hover {
  background-color: #0c7ccd; /* Darker blue on hover */
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.url {
  font-size: 24px;
  color: #333;
  margin-top: 20px;
}

