.App {
  text-align: center;
}

.App-logo {
  height: 70vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.start-capture-button {
  background-color: #0899ff; /* Blue background color for the button */
  color: white; /* White text color for the button */
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.start-capture-button:hover {
  background-color: #0c7ccd; /* Darker blue on hover */
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
